.bottom-nav {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: #def1e5;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  z-index: 100;
}

.nav-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-image {
  width: 25px;
  height: 25px;
}

.nav-label {
  font-size: 15px;
  color: #444;
  font-weight: 500;
  margin-top: 2px;
}