.FPW-container {
  background-color: #def1e5;
  min-height: 100vh;
  width: 100%;
  max-width: 390px;    
  margin: 0 auto;
  padding: 20px 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}


.FindPassword-title {
  font-size: 2rem;
  color: #555;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 24px;
  text-align: center;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #aaa;
  width: 100%;
}

p {
    width: 100%;
    max-width: 300px;
    font-size: 0.95rem;
    padding: 10px;
    display: block;
    margin: 0 auto 14px auto;
  }

input {
    width: 100%;
    max-width: 300px;
    max-height: 50px;
    padding: 10px;
    font-size: 0.9rem;
    margin: 0 auto 14px auto;
    border: 1px solid #333;
    border-radius: 4px;
    background: #fff;
    display: block;
    margin: 0 auto 14px auto;
  }




.FPW-main-btn {
  width: 100%;
  max-width: 300px;
  background-color: #f5f5f5;
  border: none;
  box-sizing: border-box;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 0 auto 14px auto;
  text-align: center;
}
