.FAP-container {
    background-color: #def1e5;
    min-height: 100vh;
    width: 100%;
    max-width: 390px;    
    margin: 0 auto;
    padding: 20px 16px;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  .FindAccount-title {
    font-size: 2rem;
    color: #555;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 24px;
    text-align: center;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #aaa;
    width: 100%;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  label {
    font-size: 0.9rem;
    color: #333;
    margin-top: 10px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: white;
    gap: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    font-size: 0.9rem;
  }
  
  .small-btn {
    background-color: #f5f5f5;
    border: none;
    padding: 6px 10px;
    font-size: 0.85rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main-btn {
    width: 50%;
    background-color: #f5f5f5;
    border: none;
    padding: 12px;
    font-size: 1rem;
    display: block;
    border-radius: 6px;
    margin: 20px auto 0;
    cursor: pointer;
  }
  