* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}


.Idch-container {
  background-color: #def1e5;
  width: 100%; /* 변경: 고정 너비 제거 */
  max-width: 390px; /* 추가: 최대 너비 제한 */
  height: 100dvh; /* 전체 화면 높이 */
  margin: 0 auto;
  padding: 20px 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.Idch-title {
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px; /* 헤더 높이와 맞춤 */
  text-align: center;
}

.info-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.Id-input-container {
  margin-bottom: 20px;
}

.id-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
}

.IC-save-button {
  background-color: #ffffff;
  padding: 12px 0;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 6px;
  margin: 16px 0;
  display: block;
  text-align: center;
  cursor: pointer;
}

.save-button:hover {
  background-color: #f0f0f0;
}