.RPP-container {
    background-color: #def1e5;
    min-height: 100vh;
    width: 100%;
    max-width: 390px;    
    margin: 0 auto;
    padding: 20px 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  .back-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
  }

  
  
  .password-title {
    width: 100%;
    max-width: 300px;     
    margin: 0 auto;
    padding: 20px 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
  }
  
  hr {
  width: 100%;
  max-width: 300px;
  margin: 16px auto;                 /* 위아래 간격 추가 */
  border: none;
  border-top: 1px solid #555;        /* 좀 더 진한 회색 */
  }
  
  p {
      width: 100%;
      max-width: 300px;
      font-size: 0.95rem;
      padding: 10px;
      display: block;
      margin: 0 auto 14px auto;
  }
  
  input {
    width: 100%;
    max-width: 300px;
    max-height: 50px;
    height: 44px;               /* 더 자연스럽게 줄이기 */
    line-height: 1.2;
    padding: 8px 12px;          /* 세로 padding 줄임 */
    font-size: 0.9rem;
    border: 1px solid #333;
    border-radius: 4px;
    background: #fff; 
    display: block;
    margin: 0 auto 14px auto;   
    box-sizing: border-box;
  }

  
  .main-btn {
    width: 100%;
    max-width: 300px;
    background-color: #f5f5f5;
    border: none;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto 14px auto;
    text-align: center;
  }
  